APP_ENV=development
APP_PORT=8081
DATABASE_DSN=host=localhost user=postgres password=postgres dbname=sku_001 port=5432 sslmode=disable TimeZone=Asia/Bangkok
JWT_SECRET=change-me
JWT_ISSUER=https://global-commerce.com
JWT_AUDIENCE=sku_module
CORS_ALLOW_ORIGINS=http://localhost:3000
